<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main Screen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'engine/css/w3stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'engine/css/w3icons.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-brands.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-regular.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-solid.css' %}">
    <style>
        /* Create four equal columns that floats next to each other */
        .column {
            float: left;
            width: 25%;
            padding: 40px;
            overflow: hidden;
        }

        .item {
            width: 120px;
            height: 120px;
            height: auto;
            float: left;
            margin: 0px;
            padding: 10px;
        }

        .imgsmall {
            max-height:200px;
            max-width:380px;
        }

        .imgBig
        {
            height:100%;
            width:100%;
        }


    </style>
</head>

<body>
    <!-- Top bar -->
    <div class="w3-bar w3-white  w3-card" style="letter-spacing: 1.5px" >
        <div class="w3-bar-item w3-xlarge w3-margin">
            <i class="fa fa-camera"></i><b>Thema: </b>{{theme}}</div>
        <div class="w3-bar-item w3-xlarge w3-margin w3-middle">
            <i class="fa fa-clock-o"></i><b>Zeit: </b>{{endDate}}</div>
        <a class="w3-bar-item w3-button w3-right w3-margin w3-orange w3-hover-blue w3-round-large w3-large w3-disabled" href="{% url 'photoAlbum' %}">
            <i class="fa fa-photo"></i>Fotoalbum</a>
        <a class="w3-bar-item w3-button w3-right w3-margin w3-orange w3-hover-blue w3-round-large w3-large" href="{% url 'slideshowThemes' %}">
            <i class="fa fa-video-camera"></i> Diashow</a>
        <a class="w3-bar-item w3-button w3-right w3-margin w3-orange w3-hover-blue w3-round-large w3-large w3-disabled" href="{% url 'profilesList' %}">
            <i class="fa fa-vcard"></i>Profil</a>
        <a class="w3-bar-item w3-button w3-right w3-margin w3-orange w3-hover-blue w3-round-large w3-large" href="/settings">
            <i class="fa fa-cog"></i>Einstellungen</a>
    </div>

    <!-- The picture columns-->
    <div class="row">
        <div class="column">
            {% if imagenames.0 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.0}}" style="width:100%" onclick="onClick(this)" alt="Picture number 1">{% endif %}
            {% if imagenames.1 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.1}}" style="width:100%" onclick="onClick(this)" alt="Picture number 2">{% endif %}
            {% if imagenames.2 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.2}}" style="width:100%" onclick="onClick(this)" alt="Picture number 3">{% endif %}
        </div>
        <div class="column">
            {% if imagenames.3 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.3}}" style="width:100%" onclick="onClick(this)" alt="Picture number 4">{% endif %}
            {% if imagenames.4 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.4}}" style="width:100%" onclick="onClick(this)" alt="Picture number 5">{% endif %}
            {% if imagenames.5 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.5}}" style="width:100%" onclick="onClick(this)" alt="Picture number 6">{% endif %}
        </div>
        <div class="column">
            {% if imagenames.6 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.6}}" style="width:100%" onclick="onClick(this)" alt="Picture number 7">{% endif %}
            {% if imagenames.7 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.7}}" style="width:100%" onclick="onClick(this)" alt="Picture number 8">{% endif %}
            {% if imagenames.8 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.8}}" style="width:100%" onclick="onClick(this)" alt="Picture number 9">{% endif %}
        </div>
        <div class="column">
            {% if imagenames.9 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.9}}" style="width:100%" onclick="onClick(this)" alt="Picture number 10">{% endif %}
            {% if imagenames.10 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.10}}" style="width:100%" onclick="onClick(this)" alt="Picture number 11">{% endif %}
            {% if imagenames.11 %}<img class="item w3-border imgsmall" src="http://localhost:8080/images/{{imagenames.11}}" style="width:100%" onclick="onClick(this)"alt="Picture number 12">{% endif %}
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
            <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
            <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="imgBig">
                <p id="caption"></p></div>
            </div>
        </div>

    <script>
        // Modal Image Gallery
        function onClick(element) {
            var img = document.getElementById("img01")
            img.src = element.src;
            document.getElementById("modal01").style.display = "block";
        }
    </script>
</body>

</html>

<!-- <a href="{% url 'photoAlbum' %}">Go to photoalbum!</a> -->