{% load magic %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Settings Themes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'engine/css/w3stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'engine/css/w3icons.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-brands.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-regular.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-solid.css' %}">

    <style>
    </style>
</head>

<body>
    <div class="w3-bar w3-white  w3-card w3-large" style="letter-spacing:2px;">
        <a class="w3-bar-item w3-button w3-margin w3-orange w3-hover-blue w3-round-large w3-large" href="{% url 'settings' %}">
            <i class="fa fa-angle-left"></i>Zurück</a>
        <div class="w3-bar-itemr">
            <p class="w3-center">Themen</p>
        </div>
    </div>

    <div>
        <br>
        <div class="w3-container">
            <ul class="w3-ul w3-card-4">
                {% for theme in themes %}
                <li class="w3-display-container">
                    <p>
                        <strong>Themen: </strong>{{theme.themeItem}}
                        <strong>Anfangsdatum: </strong>{{theme.startDateOfTheme}}
                        <strong>Endtermin: </strong>{{theme.endDateOfTheme}}
                        <strong>Id: </strong>{{theme|get:"_links"|get:"self"|get:"href"|getId}}
                        <a href="{% url 'deleteUrl' theme|get:"_links"|get:"self"|get:"href"|getId %}">
                            <span class="w3-button w3-transparent w3-display-right">&times; Delete
                            </span>
                        </a>
                    </p>
                </li>
                {% endfor %}
            </ul>
            <ul class="w3-ul w3-card-4">
                <form method="POST">
                    {% csrf_token %}
                    <p>Neues Thema hinzufügen</p>
                    <input class="w3-input w3-border w3-hover-blue" type="text" name="themename">
                    <p>Anfangsdatum</p>
                    <input class="w3-input w3-border w3-hover-blue" type="date" name="startdate">
                    <p>Endtermin</p>
                    <input class="w3-input w3-border w3-hover-blue" type="date" name="enddate">
                    <input type="submit" value="Submit">
                </form>
            </ul>
        </div>
    </div>
    <script>
        function Delete() {
            document.getElementById("ThemeContainer").style.backgroundColor = "yellow";

        }
    </script>
</body>

</html>