<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'engine/css/w3stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="w3-bar w3-white  w3-card w3-large" style="letter-spacing:2px;">
        <a class="w3-bar-item w3-button w3-margin w3-orange w3-hover-blue w3-round-large w3-large" href="{% url 'index' %}">
            <i class="fa fa-angle-left"></i>Zurück</a>
        <div class="w3-bar-itemr"></div>
            <p class="w3-center">Einstellungen</p>
        </div>
    </div>

    <div class="w3-container w3-center" >
        <p>
            <a class="w3-bar-item w3-button w3-margin w3-orange w3-hover-blue w3-round-large w3-xxlarge" href="{% url 'settingsThemes' %} ">
                Themen</a>
        </p>
        <p>
            <a class="w3-bar-item w3-button w3-margin w3-orange w3-hover-blue w3-round-large w3-xxlarge" href="{% url 'settingsResidents' %} ">
                Bewohner</a>
        </p>
        <p>
            <a class="w3-bar-item w3-button w3-margin w3-orange w3-hover-blue w3-round-large w3-xxlarge" href="{% url 'settingsPhotos' %} ">
                Bilder validieren</a>
        </p>
    </div>


</body>

</html>