<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Validate Photos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'engine/css/w3stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="w3-bar w3-white  w3-card w3-large" style="letter-spacing:2px;">
        <a class="w3-bar-item w3-button w3-margin w3-orange w3-round-large w3-large" href="{% url 'settings' %}">
            <i class="fa fa-angle-left"></i>Back</a>
        <div class="w3-bar-itemr">
            <p class="w3-center">Validate the pictures</p>
        </div>

    </div>
    <div>
            <a class="w3-bar-item w3-button w3-margin w3-green w3-hover-lime w3-round-large w3-large" href=""> Okay </a>
            <a class="w3-bar-item w3-button w3-margin w3-red w3-hover-pink w3-round-large w3-large w3-right" href=""> Delete </a>

        <img class="item w3-border" src="http://localhost:8080/images/{{imagenames.0}}" style="width:100%" onclick="onClick(this)"
            alt="Picture number 1">
    </div>
</body>

</html>