<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Themes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'engine/css/w3stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'engine/bootstrap/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-brands.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-regular.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-solid.css' %}">

    <script src="{% static 'engine/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'engine/bootstrap/js/bootstrap.js' %}"></script>

    <style>
    </style>
</head>

<body>
    <div class="w3-bar w3-white  w3-card w3-large" style="letter-spacing:2px;">
        <a class="w3-bar-item w3-button w3-margin w3-orange w3-hover-blue w3-round-large w3-large" href="{% url 'index' %}">
            <i class="fa fa-angle-left"></i>Back</a>
        <div class="w3-bar-itemr">
            <h1 class="w3-center">Themen</h1>
        </div>
    </div>

    <div>

        {% for theme in themenames %}
        <div class="row">
            <div class="column" align="center">
                <a class="w3-button w3-margin w3-orange w3-hover-blue w3-round-large w3-large" href="{% url 'slideshow' theme %}">
                     {{theme}}</a>
            </div>
        </div>

        {% endfor %}
    </div>


</body>