<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profiles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'engine/css/w3stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'engine/bootstrap/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-brands.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-regular.css' %}">
    <link rel="stylesheet" href="{% static 'engine/fontawesome/css/fa-solid.css' %}">

    <script src="{% static 'engine/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'engine/bootstrap/js/bootstrap.js' %}"></script>

    <style>
        .carousel-inner>.item>img,
        .carousel-inner>.item>a>img {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div class="w3-bar w3-white  w3-card w3-large" style="letter-spacing:2px;">
        <a class="w3-bar-item w3-button w3-margin w3-orange w3-round-large w3-large" href="{% url 'slideshowThemes' %}">
            <i class="fa fa-angle-left"></i>Back</a>
        <div class="w3-bar-itemr">
            <h1 class="w3-center">Diashow</h1>
        </div>
    </div>

    <!-- The carousel (slideshow)-->
    <!-- <div class="row">
        <div class="col"> -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for filename in filenames %}
            <div class="item {% if forloop.counter == 1 %} active {% endif %}">
                <img src="http://localhost:8080/images/{{filename}}" alt="Pictures">
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control " href="#myCarousel " data-slide="prev ">
            <span class="glyphicon glyphicon-chevron-left "></span>
            <span class="sr-only ">Previous</span>
        </a>
        <a class="right carousel-control " href="#myCarousel " data-slide="next ">
            <span class="glyphicon glyphicon-chevron-right "></span>
            <span class="sr-only ">Next</span>
        </a>
    </div>
    </div> -->
</body>

</html>